#social {
  position: absolute;
  top: 29px;
  right: 31px;
  display: flex;
  width: 100%;
  max-width: 106px;
  z-index: 100;
  justify-content: space-between;
  & a {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    &.phone {
      i {
        font-size: 20px;
      }
    }
    &.email {
      font-size: 13px;
    }
    &:hover {
      color: #34646c;
    }
  }
}
