#page {
  display: flex;
}

#interactive-videos{
  position: absolute;
  right: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  transition: width 1s ease-in-out;
  video {
    height: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: 1;
  }
  #replay {
    color: white;
    font-size: 95px;
    z-index: 1000;
    opacity: 0;
    display: flex;
    align-items: center;
    transform: scale(1);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      animation: animationFrames 0.4s ease 0s 1 normal forwards running;
    }

    @keyframes animationFrames {
      0% {
        transform: translate(0px, 0px) rotate(0deg);
      }
      100% {
        transform: translate(0px, 0px) rotate(90deg);
      }
    }
  }
}

#actions-container {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  // width: 55%;
  opacity: 0;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  background-color: rgba(52, 100, 109, 0.62);
  #timer {
    background-color: #34646D;
    height: 6px;
    width: 100%;
    position: absolute;
    #progress {
      background-color: #b3d9e0;
      height: 6px;
      width: 0%;
      position: relative;
    }
  }
  #call-to-action {
    height: 100%;
    .actions {
      height: 100%;
    }
  }
}

#page {
  &.show-actions {
    #actions-container {
      // left: 0;
      bottom: 0;
      transition: left 1s ease-in-out;

    }
    // #interactive-videos {
    //   transition: width 1.2s ease-in-out;
    //   // width: 45%;
    //   right: 0;
    //   display: flex;
    //   justify-content: center;
    //   position: absolute;
    //   video {
    //     height: 100%;
    //     width: auto;
    //     left: auto;
    //     transform: none;
    //   }
    // }
  }
}



#play {
  z-index: 100;
  position: absolute;
  font-size: 94px;
  color: white;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  &.hidden {
    opacity: 0;
  }
  i {
    z-index: 10;
    cursor: pointer;
  }
  #overlay {
    position: absolute;
     height: 100%;
     width: 100%;
    background: linear-gradient(rgba(149,212,226,0.25), rgba(149,212,226,0.65));
  }

}

#summary {
  opacity: 1;
  // margin-bottom: 40px;
  // margin-top: 130px;
  transition: opacity 1s ease-in-out;
}

#previous {
  position: relative;
  z-index: 1000;
  position: fixed;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: rgb(52, 100, 109);
  display: flex;
  justify-content: center;
  align-items: center;
  left: -300px;
  transform: translateY(-50%);
  top: 41%;
  transition: left 0.1s ease-in;
  cursor: pointer;
  &.bounceInLeft {
    left: -77px;
  }
  &:hover {
    left: -60px;
    i {
      left: 22px;
    }
  }
  i {
    position: relative;
    left: 32px;
    font-size: 30px;
    color: white;
    transition: left 0.1s ease-in;
  }
}

#audio {
  position: absolute;
  left: -5000px;
}

#question {
  opacity: 0;
  z-index: 100;
  text-align: center;
  margin: 0 0 1.6rem;
  font-family: $header-font;
  font-weight: 600;
  font-size: 22px;
  line-height: 3.6rem;
  margin-bottom: 3rem;
  color: #34646D;
}

#actions {
  opacity: 0;
  transition: 1s opacity ease;
  height: 100%;
  padding-top: 6px;
  margin-top: 8px;
  // flex-wrap: wrap;
  // justify-content: center;
  text-align: center;
  span.active {
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 0 5%;
    opacity: 0.5;
    i {
      margin-right: 12px;
    }
  }
  button {
    background: transparent;
    padding: 0 5%;
    color: white;
    flex-basis: 30%;
    border-radius: 20px;
    margin: 8px;
    font-weight: bold;
    line-height: 18px;
    transform: scale(1);
    border: 2px solid rgba(52, 100, 109, 0);
    font-size: 18px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 0 0 transparent;
    display: inline-block;
    width: auto;
    &:hover {
      border: 2px solid white;
      transform: scale(1.05);
    }

    &.active {
      border: 2px solid white;
    }
    // &#decision-0 {
    //   border: 2px solid white;
    // }
    // &:hover + #decision-0 {
    //   border: none !important;
    //   // border: 2px solid white;
    // }
    &:focus {
      outline:0;
    }
  }

}

#countdown {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  span {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
}
